export const CYBOZU_BASE_URL = '';
export const CYBOZU_BASIC_AUTH = {
  username: '',
  password: '',
};
export const CYBOZU_USERNAME = '';
export const CYBOZU_PASSWORD = '';

export const GOOGLE_API_CLIENT_ID = '';
export const GOOGLE_API_SECRET = '';
export const GOOGLE_API_REFRESH_TOKEN = '';
export const GOOGLE_CALENDAR_ID = '';

export const SLACK_WEBHOOK_URL = '';
export const S3_BUCKET_NAME = '';
